{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "no-plusplus": 0
  },
  "globals": {
    "expect": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint"
}
