<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Termy the Terminal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="index.css" />
</head>

<body>
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    #terminal-container {
      height: 100%;
    }
  </style>

  <div id="terminal-container"></div>
  <script src="demo.js"></script>
</body>

</html>
