@import './vars';

#terminal-wrapper {
  background-color: map-get($themeDark, background);
  box-sizing: content-box;
  color: map-get($themeDark, fontColor);
  font-family: $fontFamily;
  font-size: $fontSize;
  height: 100%;
  overflow: auto;
  padding: 0 1em;

  #history-container {
    #help-container ul > li {
      margin: 5px 0;

      & > span.help-command-name {
        color: map-get($themeDark, purple);
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul.terminal-ls-list {
      margin: 10px 0 0 10px;

      li {
        display: flex;
        align-items: center;

        svg {
          margin-right: 20px;
        }

        &.ls-folder {
          color: map-get($themeDark, orange);

          svg {
            fill: map-get($themeDark, orange);
          }
        }

        &.ls-file {
          color: map-get($themeDark, blue);

          svg {
            fill: map-get($themeDark, blue);
            height: 20px;
            width: 24px;
          }
        }
      }
    }
  }

  #input-container {
    padding-top: 1em;

    form {
      display: flex;

      input {
        background: none;
        border: none;
        color: map-get($themeDark, fontColor);
        font-family: $fontFamily;
        font-size: $fontSize;
        outline: none;
        -webkit-appearance: none;

        flex-grow: 100;
        margin: 0 10px;
      }

      #inputPromptChar {
        color: map-get($themeDark, green);
      }
    }
  }
}
