@import './vars';

#terminal-wrapper {
  background-color: map-get($themeDark, background);
  box-sizing: content-box;
  color: map-get($themeDark, fontColor);
  font-family: map-get($themeDark, fontFamily);
  font-size: map-get($themeDark, fontSize);
  height: 100%;
  overflow: auto;
  padding: 0 1em;

  #input-container {
    padding: 1em 0;

    form {
      display: flex;

      input {
        background: none;
        border: none;
        color: map-get($themeDark, fontColor);
        font-family: map-get($themeDark, fontFamily);
        font-size: map-get($themeDark, fontSize);
        outline: none;
        -webkit-appearance: none;

        flex-grow: 100;
        margin: 0 10px;
      }

      #inputPrompt {
        color: map-get($themeDark, green);
      }
    }
  }

  #history-container {
    & > ul > li > #input-container {
      padding-bottom: 0;
    }

    img {
      margin-top: 10px;
    }

    #help-container ul > li {
      margin: 5px 0;

      & > span.help-command-name {
        color: map-get($themeDark, purple);
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul.terminal-ls-list {
      margin: 10px 0 0 10px;

      li {
        display: flex;
        align-items: center;

        svg {
          margin-right: 20px;
        }

        &.ls-folder {
          color: map-get($themeDark, orange);

          svg {
            fill: map-get($themeDark, orange);
            height: 24px;
            width: 24px;
          }
        }

        &.ls-file {
          color: map-get($themeDark, blue);

          svg {
            fill: map-get($themeDark, blue);
            margin-top: 2px;
            margin-bottom: 2px;
            height: 20px;
            width: 24px;
          }
        }
      }
    }
  }

  .preview-list {
    span {
      margin: 0px 10px;

      &.auto-preview-folder {
        color: map-get($themeDark, orange);
      }

      &.auto-preview-file {
        color: map-get($themeDark, blue);
      }

      &.active {
        background-color: map-get($themeDark, highlight);
      }
    }


  }
}
