@import '~reset-css';
@import './vars';

#terminal-wrapper {
  background-color: map-get($themeDark, background);
  box-sizing: content-box;
  color: map-get($themeDark, fontColor);
  font-family: $fontFamily;
  font-size: $fontSize;
  height: 100%;
  overflow: auto;
  padding: 0 1em;

  #history-container {
    ul.terminal-ls-list {
      margin: 10px 0 0 10px;

      li {
        display: flex;
        align-items: center;

        svg {
          margin-right: 20px;
        }

        &.ls-folder {
          color: map-get($themeDark, folderResult);

          svg {
            fill: map-get($themeDark, folderResult);
          }
        }

        &.ls-file {
          color: map-get($themeDark, fileResult);

          svg {
            fill: map-get($themeDark, fileResult);
            height: 20px;
            width: 24px;
          }
        }
      }
    }
  }

  #input-container {
    padding-top: 1em;

    form {
      display: flex;

      input {
        background: none;
        border: none;
        color: map-get($themeDark, fontColor);
        font-family: $fontFamily;
        font-size: $fontSize;
        outline: none;
        -webkit-appearance: none;

        flex-grow: 100;
        margin: 0 10px;
      }

      #inputPromptChar {
        color: map-get($themeDark, green);
      }
    }
  }
}
