@import '~reset-css';
@import '../styles/vars';

#terminal-wrapper {
  background-color: map-get($themeDark, background);
  box-sizing: content-box;
  color: map-get($themeDark, fontColor);
  font-family: $fontFamily;
  font-size: $fontSize;
  height: 100%;
  padding: 0 1em;

  #history-container {
    li {
      margin-bottom: 1em;
    }
  }

  #input-container {
    padding-top: 1em;

    form {
      display: flex;

      input {
        background: none;
        border: none;
        color: map-get($themeDark, fontColor);
        font-family: $fontFamily;
        font-size: $fontSize;
        outline: none;
        -webkit-appearance: none;

        flex-grow: 100;
        margin: 0 10px;
      }

      #inputPromptChar {
        color: map-get($themeDark, green);
      }
    }
  }
}
