@import 'reset-css';
@import './styles/vars';

body {
  color: map-get($themeDark, fontColor);
  font-family: $fontFamily;
  font-size: $fontSize;
}

#terminal-container {
  background-color: map-get($themeDark, background);

  #history-container {
    height: 350px;
    padding: 1em;
  }

  #input-container > form {
    display: flex;

    input {
      background: none;
      border: none;
      color: map-get($themeDark, fontColor);
      font-family: $fontFamily;
      font-size: $fontSize;
      outline: none;
      -webkit-appearance: none;

      flex-grow: 100;
      margin: 0 10px;
    }

    #inputPromptChar {
      color: map-get($themeDark, green);
    }
  }
}
